.product-container {
  width: 100%;
  flex-shrink: 0;
  margin-bottom: 20px;
}

.image-container {
  border-radius: 40px;
  padding: 20px 0px;
}

.product-image {
  width: 100%;
  transform: rotate(-30deg) translate(0px, -35px);
}

.product-name {
  text-align: start;
  padding: 20px 0px;
}

.product-description {
  color: var(--Gray);
  text-align: start;
  line-height: 1.8;
  font-size: 13px;
  margin-bottom: 20px;
}

.add-to-cart-button {
  font-size: 14px;
  font-weight: bold;
  background-color: var(--Yellow);
  padding: 15px;
  border-radius: 9999px;
  cursor: pointer;
  transition-duration: 0.2s;
}

.add-to-cart-button:hover {
  background-color: #c9a411;
}

.add-to-cart-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.check-container {
  font-weight: bold;
  background-color: var(--Yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 10px;
}
.check-ico {
  height: 30px;
  width: 30px;
}
