.your-cart-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
button {
  padding: 0;
  border: none;
  background: none;
}

.modify-button {
  height: 28px;
  width: 28px;
  background-color: #ececec;
  border-radius: 50%;
  font-size: 22px;
  text-align: center;
  cursor: pointer;
  transition-duration: 0.2s;
}

.modify-button:hover {
  background-color: #c2c2c2;
}

.modify-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.right-item-container {
  width: 60%;
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 10px;
}

.item-image {
  width: 100%;
  transform: rotate(-30deg) translate(0px, -35px);
}

.item-background {
  width: 70%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  position: absolute;
}

.left-item-container {
  padding: 10px 0px 0px 10px;
  width: 40%;
  position: relative;
}

.item-container {
  width: 100%;
  display: flex;
  height: fit-content;
}

.delete-button {
  height: 28px;
  width: 28px;
  background-color: var(--Yellow);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition-duration: 0.2s;
}

.delete-button:hover {
  background-color: #c9a411;
}

.icon {
  height: 70%;
  width: 70%;
}

.delete-ico {
  height: 70%;
  width: 70%;
}

.cart-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
