.card-container {
  border-radius: 30px;
  text-align: center;
  height: 600px;
  width: 360px;
  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px 5px 1px var(--Gray);
  padding: 20px;
  background-color: white;
}

.card-body {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  gap: 70px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.card-spot {
  position: absolute;
  width: 220px;
  height: 250px;
  left: -74px;
  top: -65px;
  border-radius: 50%;
  z-index: -1;
  background: var(--Yellow);
}

.nike {
  height: 30px;
  margin-bottom: 10px;
}
.card-body {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  gap: 70px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.card-header {
  width: 100%;
  height: 20%;
  text-align: start;
  padding: 10px;
}

.nike-ico {
  height: 30px;
  margin-bottom: 10px;
}
