body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::before {
  background-color: #f6c90e;
  border-radius: 20%;
  bottom: 0;
  content: '';
  height: 300px;
  left: 0;
  position: absolute;
  transform: rotate(-3deg) scale(1.5);
  width: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
:root {
  --White: #ffffff;
  --Black: #303841;
  --Gray: #777777;
  --Yellow: #f6c90e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  color: var(--Black);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
